.dashboard {
    display: flex;
    width: 100%;
    height: 100vh;
    gap: 5px; 
    padding: 1rem; 
    background: linear-gradient(184deg, rgb(247, 130, 165) 10%, rgb(219, 213, 213) 100%, rgb(233, 219, 219) 100%);
}
.dashboard > main {
    position: relative;
    flex: 1;
}

.dashboard > aside {
    z-index: 1;
    width: 220px;
    padding: 10px;
    background: #FCF6F9;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.dashboard__toggle__btn {
    padding: 2px 6px 6px 6px; 
    width: fit-content; 
    height: fit-content; 
    position: absolute;
    background: #FCF6F9;
    top: 0; 
    left: -6px; 
    cursor: pointer;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
@media (max-width: 480px) {
    .dashboard {
        padding: 0; 
    }
    .dashboard > aside {
        position: absolute;
        height: inherit;
    }
    .dashboard__toggle__btn {
        left: 219px;
    }
    .dashboard__toggle__btn.move-btn {
        left: -6px;
    }
}
